n8n/workflow-1d-sub-audio-bard.json
{
  "name": "Scrollabus: Sub — Audio Bard (Lyria)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "return $input.all().filter(i => i.json.persona_slug === 'study-bard');"
      },
      "id": "filter-audio-bard",
      "name": "Filter: audio (bard)",
      "type": "n8n-nodes-base.code",
      "position": [460, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const topic   = item.json.title ?? item.json.chunk_text.slice(0, 100);\n  const excerpt = item.json.chunk_text.slice(0, 500);\n  const lyriaPrompt =\n    `Create a 30-second upbeat educational pop song about \"${topic}\". ` +\n    `Style: bright, catchy pop with acoustic guitar and light percussion. Tempo: medium-fast. ` +\n    `Include a short intro then a verse that teaches these key ideas in rhyming, memorable lyrics: ${excerpt}`;\n  return {\n    json: {\n      ...item.json,\n      lyria_prompt: lyriaPrompt,\n    }\n  };\n});"
      },
      "id": "build-lyria-prompt",
      "name": "Build Lyria prompt",
      "type": "n8n-nodes-base.code",
      "position": [680, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/lyria-3-clip-preview:generateContent?key={{ $vars.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [{ parts: [{ text: $json.lyria_prompt }] }], generationConfig: { responseModalities: ['AUDIO', 'TEXT'] } } }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "call-lyria",
      "name": "Call Lyria 3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [900, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const items     = $input.all();\nconst buildData = $('Build Lyria prompt').all();\n\nconst results = [];\nfor (let i = 0; i < items.length; i++) {\n  const response = items[i].json;\n  const prev     = buildData[i].json;\n\n  const parts     = response?.candidates?.[0]?.content?.parts ?? [];\n  const audioPart = parts.find(p => p.inlineData?.mimeType?.startsWith('audio/'));\n  if (!audioPart) continue;\n\n  const b64 = audioPart.inlineData.data;\n  if (!b64 || b64.length === 0) continue;\n\n  const mimeType = audioPart.inlineData.mimeType ?? 'audio/mpeg';\n  const fileName = `${prev.persona_slug}-${prev.chunk_index}-audio.mp3`;\n  const filePath = `${prev.material_id}/${fileName}`;\n\n  results.push({\n    json: {\n      ...prev,\n      mime_type: mimeType,\n      file_path: filePath,\n    },\n    binary: {\n      audio_data: { data: b64, mimeType: mimeType, fileName: fileName }\n    }\n  });\n}\nreturn results;"
      },
      "id": "extract-audio",
      "name": "Extract audio data",
      "type": "n8n-nodes-base.code",
      "position": [1120, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/storage/v1/object/post-media/{{ $json.file_path }}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "audio_data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $vars.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "={{ $json.mime_type }}" },
            { "name": "x-upsert",      "value": "true" }
          ]
        }
      },
      "id": "upload-audio",
      "name": "Upload audio to Storage",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1340, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const uploadResponses = $input.all();\nconst extractData     = $('Extract audio data').all();\nconst supabaseUrl     = $vars.SUPABASE_URL;\n\nreturn uploadResponses.map((res, i) => {\n  const prev     = extractData[i].json;\n  const mediaUrl = `${supabaseUrl}/storage/v1/object/public/post-media/${prev.file_path}`;\n  return {\n    json: {\n      material_id: prev.material_id,\n      persona_id:  prev.persona_id,\n      post_type:   prev.post_type,\n      title:       prev.title ?? null,\n      body:        prev.chunk_text.slice(0, 300),\n      media_type:  'audio',\n      media_url:   mediaUrl,\n      source:      'n8n',\n      sort_order:  prev.chunk_index * 4 + 2,\n    }\n  };\n});"
      },
      "id": "build-audio-post",
      "name": "Build audio post",
      "type": "n8n-nodes-base.code",
      "position": [1560, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/posts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $vars.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        }
      },
      "id": "insert-audio-post",
      "name": "Insert audio post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1780, 300],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Filter: audio (bard)", "type": "main", "index": 0 }]]
    },
    "Filter: audio (bard)": {
      "main": [[{ "node": "Build Lyria prompt", "type": "main", "index": 0 }]]
    },
    "Build Lyria prompt": {
      "main": [[{ "node": "Call Lyria 3", "type": "main", "index": 0 }]]
    },
    "Call Lyria 3": {
      "main": [[{ "node": "Extract audio data", "type": "main", "index": 0 }]]
    },
    "Extract audio data": {
      "main": [[{ "node": "Upload audio to Storage", "type": "main", "index": 0 }]]
    },
    "Upload audio to Storage": {
      "main": [[{ "node": "Build audio post", "type": "main", "index": 0 }]]
    },
    "Build audio post": {
      "main": [[{ "node": "Insert audio post", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "notes": "Sub-workflow 1d: receives all built-prompt items from orchestrator, filters to persona=study-bard, generates music with Google Lyria 3 Clip, uploads MP3 to Supabase Storage via HTTP Request node (binary data, avoids fetch/Node.js HTTPS), inserts post. Env vars: GEMINI_API_KEY, SUPABASE_URL, SUPABASE_SERVICE_KEY"
  }
}
